# IDEs
/.settings
/.project
/.idea
*.esproj
*.tmproj
*.tmproject
tmtags
.*.sw[a-z]
*.un~
Session.vim
*.swp

# Mac OSX
.DS_Store
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
Desktop.ini

# NPM packages used by Grunt.js
node_modules
bower_components
*.log
npm-debug.log

# Composer
/vendor

# PHPUnit
/tmp

# Misc
*.zip
.cache
.sass-cache*
.husky
*.lock

# Tests
codeception.yml
.env
/tests/_data/dump.sql
.env.testing

# Framework
lib

# Build
assets/

# Editors
project.xml
project.properties
/nbproject/private/
.buildpath
.vscode
*.sublime-project
*.sublime-workspace
.sublimelinterrc

# Grunt
none

# ApiGen
/wc-apidocs/

# Behat/CLI Tests
tests/cli/installer
tests/cli/composer.phar
tests/cli/composer.lock
tests/cli/composer.json
tests/cli/vendor

# Unit tests
/tests/bin/tmp
/tests/e2e-tests/config/local-*.json
/tests/e2e-tests/config/local.json

# Logs
/logs

# Composer
contributors.md

# Screenshots for e2e tests failures
/screenshots/

#build
build
