<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	verbose="true"
>
	<testsuites>
		<testsuite name="WP Content Pilot Test Suite">
			<directory suffix=".php">./tests/</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist addUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">./includes</directory>
			<file>wp-content-pilot.php</file>
			<file>uninstall.php</file>
			<exclude>
				<directory suffix=".php">./includes/admin/views</directory>
				<directory suffix=".php">./vendor</directory>
				<directory suffix=".php">./tmp</directory>
				<directory suffix=".php">./tests</directory>
			</exclude>
		</whitelist>
	</filter>

	<groups>
		<exclude>
			<group>ignore</group>
		</exclude>
	</groups>
	<listeners>
		<listener class="SpeedTrapListener" file="tests/phpunit/speed-trap-listener.php">
			<arguments>
				<array>
					<element key="slowThreshold">
						<integer>150</integer>
					</element>
				</array>
			</arguments>
		</listener>
	</listeners>
</phpunit>
