.wpcp-submitbox {
	._campaign_status-field{
		background: #f7f7f7;
		margin: 20px -12px 0;
		padding: 10px 15px;
		border-top: 1px solid #ccd0d4;
	}

	select{
		width: 100% !important;
	}

	#major-publishing-actions {
		margin: 0 -12px -12px;

		#delete-action {
			float: right !important;
			margin-top: -5px;
		}
	}

	#publishing-action {
		display: block;
		width: 100%;
		margin: 10px 0 0;
		float: none;

		.publishing-action-btn {
			display: flex;
			width: 100%;
			justify-content: space-between;
			padding-bottom: 5px;
		}
	}
}
