.wpcp-campaign-posts{
	li{
		margin-bottom: 10px;

		&::before{
			content: "\f123";
			color: #606a73;
			font: normal 20px/1 dashicons;
			speak: none;
			display: inline-block;
			padding: 0 10px 0 0;
			position: relative;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			text-decoration: none !important;
			vertical-align: top;
		}
	}
}
