#wpcp-campaign-status {
	background: transparent;
	border: 0;
	box-shadow: none;
	box-sizing: border-box;

	.handlediv, h2.hndle {
		display: none;
	}

	.inside {
		margin: 0;
	}

	.wpcp-campaign-status-wrap {
		display: flex;
		flex-wrap: wrap;
		margin-left: -15px;
		margin-right: -15px;
		box-sizing: border-box;
		justify-content: space-between;

		@media (max-width:767px) {
			padding-top: 10px;
			padding-bottom: 10px;
		}

		.wpcp-campaign-statue-item {
			flex-grow: 1;
			position: relative;
			border: 1px solid #ccd0d4;
			background-color: #fff;
			box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
			width: 16%;
			padding: 15px;
			margin-right: 15px;
			border-left: 3px solid #007cba;
			min-height: 56px;
			box-sizing: border-box;
			@media (max-width: 767px) {
				width: 50%;
				margin-bottom: 10px;
			}

			&:last-of-type {
				margin-right: 0;
				@media (max-width: 767px) {
					margin-right: 15px;
				}
			}
		}

		.wpcp-campaign-statue-title {
			padding: 0;
			margin: 0 0 8px;
			font-size: 18px;
			line-height: 1;
		}
	}
}

@-webkit-keyframes blink {
	from {
		opacity: 1.0;
	}
	to {
		opacity: 0.0;
	}
}

.wpcp-blink {
	-webkit-animation-name: blink;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: cubic-bezier(1.0, 0, 0, 1.0);
	-webkit-animation-duration: 1s;
	animation-iteration-count: 3;
}
