.wpcp-dc{
	clear: both;
	display: block;
	overflow: hidden;
	margin-bottom: 20px;

	&:after,&:before{
		content: "";
		display: table
	}

	.form-field {
		width: 50%;
		line-height: 2em;
		float: left;
		box-sizing: border-box;
		//padding: 0 12px 0 0;
		margin: 0 0 12px;
		clear: both
	}
	.form-field:nth-child(even) {
		float: right;
		//padding: 0 0 0 12px;
		clear: right
	}
	.form-field:nth-last-child(-n+2) {
		margin-bottom: 0;
		padding-bottom: 0;
		border-bottom: 0
	}

	.wpcp-checkbox{
		.wpcp-label{
			position: relative;
		}
	}
}
