.ever-icon{
	width: $iconsize;
}

.ever-submitbox{

	#major-publishing-actions{
		margin: 0 -15px -15px;
		#delete-action{
			float: right !important;
			margin-top: -5px;
		}
	}

	#publishing-action{
		display: block;
		width: 100%;
		margin: 10px 0 0;
		float: none;
		.publishing-action-btn{
			display: flex;
			width: 100%;
			justify-content: space-between;
			padding-bottom: 5px;
		}
	}
}
