.ever-field {
	display: block;
	width: 100%;
	height: 29px !important;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555555;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #cccccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

	&::-ms-expand {
		border: 0;
		background-color: transparent;
	}

	&[disabled],
	&[readonly],
	fieldset[disabled] & {
		background-color: #eeeeee;
		opacity: 1;
	}

	&[disabled],
	fieldset[disabled] & {
		cursor: not-allowed;
	}

	+.description{
		font-size: 14px;
		font-weight: 400;
		color: #666;
		display: block;
		margin: 2px 0 5px;
		font-style: normal;
	}

	&.chosen-container{
		background: transparent;
		border: none;
		padding: 0;
	}
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
	input[type="date"],
	input[type="time"],
	input[type="number"],
	input[type="datetime-local"],
	input[type="month"] {
		&.ever-field {
			line-height: 29px;
		}
	}
}

.ever-label{
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: bold;
}

.ever-form-group {
	margin-bottom: 15px;
}
textarea.ever-field{
	height: auto !important;
}

input[type="radio"],
input[type="checkbox"] {
	&.ever-checkbox,
	&.ever-radio{
		margin: -2px 5px 0 5px;
		margin-top: 1px \9; // IE8-9
		line-height: normal;
	}
}

.ever-checkbox,
.ever-radio{
	position: relative;
	display: block;
	margin-bottom: 10px;
	margin-top: 10px;
	label {
		min-height: 20px;
		padding-left: 20px;
		font-weight: bold;
		cursor: pointer;
	}
}

.ever-radio input[type="radio"],
.ever-radio-inline input[type="radio"],
.ever-checkbox input[type="checkbox"],
.ever-checkbox-inline input[type="checkbox"] {
	position: absolute;
	margin-top: 1px;
	margin-left: -20px;

}

.ever-radio + .ever-radio,
.ever-checkbox + .ever-checkbox {
	margin-top: -5px;
}

// Radios and checkboxes on same line
.ever-radio-inline,
.ever-checkbox-inline {
	position: relative;
	display: inline-block;
	padding-left: 20px;
	margin-bottom: 0;
	vertical-align: middle;
	font-weight: normal;
	cursor: pointer;
	margin-left: 5px;
}
.ever-radio-inline + .ever-radio-inline,
.ever-checkbox-inline + .ever-checkbox-inline {
	margin-top: 0;
	margin-left: 10px; // space out consecutive inline controls
}

input[type="radio"].ever-radio,
input[type="checkbox"].ever-checkbox {

	&[disabled],
	&.disabled,
	fieldset[disabled] & {
		cursor: not-allowed;
	}
}

.ever-required-field{
	color: #f62d51;
}
.ever-has-error .ever-field {
	border-color: #a94442;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

// Checkbox Input Design
.ever-form-group{
	&._sponsored_field {
		position: relative;
		display: inline-block;
		width: 60px;
		height: 30px;
		input {
			display:none;
		}
		label{
			position: absolute;
			cursor: pointer;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: transparent;
			border: 2px solid #ccc;
			-webkit-transition: .4s;
			transition: .4s;
			border-radius: 34px;
			text-indent: -9999px;
			&:before {
				position: absolute;
				content: "";
				height: 20px;
				width: 20px;
				left: 2px;
				top: 1px;
				bottom: 0;
				background-color: #ccc;
				border: 2px solid #ccc;
				transition: .4s;
				border-radius: 50%;
			}
		}
		input:checked + label {
			border: 2px solid #00a0d2;
			&:before{
				border: 2px solid #00a0d2;
				background-color: #00a0d2;
				transform: translateX(28px);
			}
		}
	}
}

.ever-field-textarea{
	min-height: 90px;
	max-height: 1300px;
	resize: none;
}
.ever-field-description{
	color: #666;
	font-style: italic;
	margin-bottom: 10px;
	margin-top: -5px;
	padding-left: 5px;
}


.ever-avatar-upload {
	position: relative;
	max-width: 163px;
	.ever-avatar-edit {
		position: absolute;
		right: 12px;
		z-index: 1;
		top: 10px;
		input {
			display: none;
			+ label {
				display: inline-block;
				width: 34px;
				height: 34px;
				margin-bottom: 0;
				border-radius: 100%;
				background: #FFFFFF;
				border: 1px solid transparent;
				box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
				cursor: pointer;
				font-weight: normal;
				transition: all .2s ease-in-out;
				&:hover {
					background: #f1f1f1;
					border-color: #d6d6d6;
				}
				&:after {
					content: "\f040";
					font-family: 'FontAwesome';
					color: #757575;
					position: absolute;
					top: 10px;
					left: 0;
					right: 0;
					text-align: center;
					margin: auto;
				}
			}
		}
	}
	.ever-avatar-preview-warp {
		width: 150px;
		height: 150px;
		position: relative;
		border-radius: 100%;
		border: 6px solid #F8F8F8;
		box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
		background-size: cover;
		background-position: center;
		> div {
			width: 100%;
			height: 100%;
			border-radius: 100%;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
		}
	}
}

.ever-select-chosen{
	border: 1px solid #ddd;
	box-shadow: inset 0 1px 2px rgba( 0, 0, 0, 0.07 );
	background-color: #fff;
	color: #32373c;
	outline: none;
	transition: 0.05s border-color ease-in-out;
	.chosen-choices{
		border: 1px solid #ddd;
	}

	&.chosen-container-active{
		border-color: #5b9dd9;
		box-shadow: 0 0 2px rgba( 30, 140, 190, 0.8 );
	}
}
