[class^=ever-], [class^=ehrm-] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-decoration: none;
	vertical-align: middle;

	&:focus {
		outline: none;
		box-shadow: none;
	}
	&:before, &:after {
		box-sizing: border-box;
	}

	img {
		max-width: 100%;
	}
	//a:not(.button) {
	//	text-decoration: none;
	//	&:hover, &:focus, &:active {
	//		outline: 0;
	//		box-shadow: none;
	//		border: 0;
	//	}
	//}

}
.inside{
	overflow: hidden;
}

#campaign-type-selection{
	.handlediv, .hndle{
		display: none;
	}
	.inside{
		padding-top: 12px;
		border-top: 3px solid #e74c3c;
		margin-top: 0;
	}
}
//
//#campaign-actions.postbox{
//	.hndle{
//		border-top: 3px solid #2980b9;
//	}
//}
//
//#campaign-options.postbox{
//	.hndle{
//		border-top: 3px solid #e67e22;
//	}
//}
//
//
//#campaign-post-settings.postbox{
//	.hndle{
//		border-top: 3px solid #27ae60;
//	}
//}
//
//
//#campaign-advanced-settings.postbox{
//	.hndle{
//		border-top: 3px solid #f1c40f;
//	}
//}

